.content{
    text-align: center;
    margin-top: 10px !important;
}
.ui.card {
    margin: 1em 0;
    margin-left: 40% !important;
    width: 20% !important;
    margin-top: 20px !important; 
}
.user_icons{
    display:flex ;
    flex-direction: column;
}
.user_icons > i{
    margin-left: 100%;
}
.ui .segment{
    border: none;
    box-shadow: none;
}