.user__image >img{
    height: 60px !important;
    border-radius: 0% !important;
}
.ui.card{
    margin-left: 17%;
    margin-top: 10px !important;
    box-shadow: 5px 5px 5px lightgrey;
}

.ui.card:hover{
    margin-left: 17%;
    margin-top: 10px !important;
    box-shadow: 5px 5px 5px lightgrey;
    box-sizing: border-box;
    transition: 2s;
    size: 10em;
}